.overviewContainer
{
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.fixedWidth15
{
    width: 15%;
}

.fixedWidth20
{
    width: 20%;
}

.listHeader, .listRow
{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.listRow
{
    padding: 10px;
}

.blocked
{
    background-color: #df7d51;
}

.available
{
    background-color: #77a368;
}

.occupied
{
    background-color: #d8d0c5;
}