
table {
    width: 85%;
    
}
th, td {
    text-align: left;
    padding: 10px;
    
}

.guest-name {
    width: 20%; 
}

.arrival, .departure {
    width: 15%
} 

.reservationButtons{
    width: 100px;
}



